nav{
    width: 100%;
    height: 60px;
    display: flex;
    height: 60px;
    background: #2D2E30;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}