body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
nav{
    width: 100%;
    display: flex;
    height: 60px;
    background: #2D2E30;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
h2{
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;    
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  max-height: 550px;
  object-fit: contain;
  cursor: pointer;
}
