<nav>
    <span>Cine App</span>
</nav>
<h2>Filmes Em Cartaz:</h2>
<div class="screen">
    <swiper-container loop="true" slides-per-view="3" navigation="true" space-between="25" speed="900">
        <swiper-slide>
          <img
            src="https://ingresso-a.akamaihd.net/prd/img/movie/meu-malvado-favorito-4/4d756249-3b88-4b59-baa2-527f5e3d4c3e.webp">
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://ingresso-a.akamaihd.net/prd/img/movie/deadpool-e-wolverine/09f1e988-47fe-4d5e-88ec-a51051d3241f.webp" />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://ingresso-a.akamaihd.net/prd/img/movie/divertida-mente-2/61ac248d-e3e6-4e33-9515-8ce0621a32fa.webp" />
        </swiper-slide>
        <swiper-slide>
            <img
              src="https://ingresso-a.akamaihd.net/prd/img/movie/meu-malvado-favorito-4/4d756249-3b88-4b59-baa2-527f5e3d4c3e.webp">
          </swiper-slide>
          <swiper-slide>
            <img
              src="https://ingresso-a.akamaihd.net/prd/img/movie/deadpool-e-wolverine/09f1e988-47fe-4d5e-88ec-a51051d3241f.webp" />
          </swiper-slide>
          <swiper-slide>
            <img
              src="https://ingresso-a.akamaihd.net/prd/img/movie/divertida-mente-2/61ac248d-e3e6-4e33-9515-8ce0621a32fa.webp" />
          </swiper-slide>
    </swiper-container>
</div>