<div class="grid">
    <div class="description">
        <img height="350px" src="https://ingresso-a.akamaihd.net/prd/img/movie/meu-malvado-favorito-4/4d756249-3b88-4b59-baa2-527f5e3d4c3e.webp">
        <div class="text">
            <h3>Meu Malvado Favorito 4</h3>
            <p class="description-text">Gru enfrenta novos inimigos. Maxime Le Mal e sua namorada mulher-fatal Valentina (Sofia Vergara, indicada ao Emmy) são tão malévolos que não deixam alternativa à família Gru senão fugir.</p>
        </div>
    </div>
    <div class="hours">2</div>
</div>